<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html>
<head>
	<!--leaflet files-->	 
	<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
	<script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
	 
	<!--mapbox files-->	 
	<script src='https://api.mapbox.com/mapbox.js/v2.2.4/mapbox.js'></script>
	<link href='https://api.mapbox.com/mapbox.js/v2.2.4/mapbox.css' rel='stylesheet' />

    <!-- Javascript:  JQuery from a content distribution network (CDN) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  
    
    
	<!--Our own stylesheet-->
	<link rel="stylesheet" href="/static/css/style.css" />
	<title>Eugene POIs</title>
</head>

<body>
	<h1 id="heading">Eugene Map (dark to preserve energy)</h1>
	
    <div id="map"></div>


</body>



<script type="text/javascript">
// Leaflet Map Creation
var map = L.map('map').setView(new L.LatLng(44.04962, -123.09417), 14);
L.tileLayer('http://api.tiles.mapbox.com/v4/{styleid}/{z}/{x}/{y}.png?access_token={accessToken}', {
    attribution: '',    
    maxZoom: 18,
    styleid: 'mapbox.dark',
    accessToken: 'pk.eyJ1IjoiYWxleGFuZGVyb3dlbiIsImEiOiJjaWszY2xvM3MzOXdwdmdsendydXJhZG5hIn0.WcJIS-8B1668IeLHv_grXQ'
}).addTo(map);



//Testing events
function onMapClick(e) {
    console.log("You clicked the map at " + e.latlng);    
    
    var latitude = e.latlng.lat;
    var longitude = e.latlng.lng;  
    var tld = "http://www.mapquestapi.com";  
    var key = "xssMZMw5fn1nIISGJ33GH08hYyOss5Sl";
	var URL = tld + "/geocoding/v1/reverse?key=" + key + "&json={location:{latLng:{lat:" + latitude + ",lng:" + longitude + "}}};";
	$.getJSON(URL,
		  function(data) {
		      street = data.results[0].locations[0].street;
		      createMarker(e.latlng.lat, e.latlng.lng, street);   
		  });    
}

function onLocationFound(e) {
	console.log("Found the user at: " + e.latlng);
	
	createMarker(e.latlng.lat, e.latlng.lng, "Your Location").openPopup();
}

map.on('click', onMapClick);
map.on('locationfound', onLocationFound);
map.locate();

$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
window.onload = function() {
	$.getJSON($SCRIPT_ROOT + '/_getPOI',
	function (data) {
		var locations = data.result.locations;		
		for (var i = 0; i < locations.length; i++) {
			loc = locations[i]
			createMarker(loc[1],loc[2],loc[0]);
		}		
	});
}

function createMarker(lat, lng, msg) {	
	var marker = L.marker([lat,lng]).addTo(map);	
	marker.bindPopup(msg);
	
	marker.on('mouseover', 
		function (e) {
			marker.openPopup();
	});
	marker.on('mouseout', 
		function (e) {
			marker.closePopup();
	});
	marker.on('click', 
		function(e) {
			map.removeLayer(marker);
	});
	return marker;
}

</script>

</html>